<h1>Recipe</h1>
<p><%= @cocktail.name%><%= link_to cocktail_path(@cocktail),
      method: :delete,
      data: { confirm: "Are you sure?" } do%> <i class="fas fa-trash-alt"></i><% end %></p>

<ul>
<% @cocktail.doses.each do |dose| %>
<li> <%= dose.ingredient.name %>: <%= dose.description %> <%= link_to dose_path(dose), method: :delete, data: { confirm: "Are you sure?" } do%>
      <i class="fas fa-trash-alt"></i><% end %></li>
<% end %>
<ul>




<%= simple_form_for [@cocktail, @dose] do |f| %>
 <%= f.association :ingredient %>
  <%= f.input :description %>
  <%= f.submit "Add Ingredient", class: "btn btn-primary" %>
<% end %>

<%= simple_form_for (@cocktail),  method: :patch do |f| %>
  <%= f.input :name%>
  <%= f.submit "Edit", class: "btn btn-primary" %>
<% end %>



